<ion-view view-title="সম্পর্কিত তথ্য">
    <ion-content>
        <!--<h1>সম্পর্কিত তথ্য</h1>-->
        <div class="card">
            <div class="item item-divider">
                মিশন ও ভিশন
            </div>
            <div class="item item-text-wrap" ng-bind-html="html">
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                সংগঠনিক কাঠাম (কার্যকারী)
            </div>
            <div class="item item-image">
                <img src="img/WorkingOrganogram.jpg">
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                সংগঠনিক কাঠাম (প্রস্তাবিত)
            </div>
            <div class="item item-image">
                <img src="img/ProposalOrganogram.jpg">
            </div>
        </div>
    </ion-content>
</ion-view>
