/* Empty. Add your own CSS if you like */
@font-face{
    font-family: "Siyamrupali";
    src: url("../fonts/Siyamrupali.ttf");
}

body {
    font-family: "Siyamrupali", serif;
}

ul {
    list-style: circle;
    padding: 10px;
    font-size: 14px;
    text-align: justify;
}