/* Empty. Add your own CSS if you like */
@font-face{
    font-family: "Siyamrupali";
    src: url("../fonts/Siyamrupali.ttf");
}

body {
    font-family: "Siyamrupali", serif;
    text-align: justify;
}

p {
    padding: 10px;
}

ul, ol {
    list-style: initial;
    padding-left: 10px;
    font-size: 14px;
    text-align: justify;
}

li {
    padding: 5px;
}

table, td {
    border: 1px solid gray;
    margin: auto;
}

.blue {
    color: blue;
}

.bold {
    font-weight: 600;
}

.small {
    font-size: small;
}

.justify {
    text-align: justify;
}

.myStyle {
    font-size: 20px;
    padding: 15px;
}